<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" *ngIf="tipoUsuario == 'Admin'">
                <a class="nav-link" href="aluno">Alunos</a>
            </li>
            <li class="nav-item" *ngIf="tipoUsuario == 'Admin'">
                <a class="nav-link" href="empresa">Empresas</a>
            </li>
            <li class="nav-item" *ngIf="tipoUsuario == 'Professor'">
                <a class="nav-link" href="transacoes">Transações</a>
            </li>
            <li class="nav-item" *ngIf="tipoUsuario == 'Aluno' || tipoUsuario == 'Empresa'">
                <a class="nav-link" href="vantagens">Vantagens</a>
            </li>
        </ul>
    </div>
</nav>